<div class="spinner-container" style="margin: 0">
  <div class="spinner-background">{{spinner.value}}%</div>
  <mat-progress-spinner #spinner
      color="primary"
      mode="determinate"
      value="75">
  </mat-progress-spinner>
</div>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Why is company name required?</mat-panel-title>
  </mat-expansion-panel-header>
  <p>Here is the reason.</p>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>How many letters should be my password?</mat-panel-title>
  </mat-expansion-panel-header>
  <p>Your password should be of minimum 8 characters.</p>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>What is security question?</mat-panel-title>
  </mat-expansion-panel-header>
  <p>Help for security question.</p>
</mat-expansion-panel>
