<form [formGroup]="form">
	<mat-list role="list">
    <mat-list-item role="listitem">User Name:</mat-list-item>
			<mat-list-item role="listitem">test@gmail.com</mat-list-item>
	</mat-list>
	<mat-card><mat-icon>lightbulb</mat-icon>Your username is the email address you shared with acquirer.</mat-card>
	<mat-form-field>
		<input matInput placeholder="Enter your password" formControlName="password" required>
		<mat-error *ngIf="form.controls['password'].invalid">Password is required</mat-error>
	</mat-form-field>
  <mat-form-field *ngIf="form.controls['password'].valid">
		<input matInput placeholder="Confirm your password" formControlName="confirmPassword" required>
<mat-error *ngIf="form.controls['confirmPassword'].pristine || form.controls['confirmPassword'].errors?.MatchPassword">Password does not match</mat-error>
	</mat-form-field>
	<h3>Security Questions *</h3>
	<mat-card><mat-icon>lightbulb</mat-icon>These questions will help you to reset your password and are mandatory</mat-card>
	<mat-accordion>
		<mat-form-field>
			<select matNativeControl required>
				<option value="q1">Security Question 1</option>
				<option value="q1a">Security Question 1-a</option>
				<option value="q1b">Security Question 1-b</option>
				<option value="q1c">Security Question 1-c</option>
			</select>
		</mat-form-field>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>What's this?</mat-panel-title>
			</mat-expansion-panel-header>
			<p>Help for Security Question 1</p>
		</mat-expansion-panel>
		<mat-form-field>
			<input matInput type="text" placeholder="Enter Answer">
		</mat-form-field>
	</mat-accordion>
	<mat-divider></mat-divider>
	<mat-accordion>
		<mat-form-field>
			<select matNativeControl required>
				<option value="q2">Security Question 2</option>
				<option value="q2a">Security Question 2-a</option>
				<option value="q2b">Security Question 2-b</option>
				<option value="q2c">Security Question 2-c</option>
			</select>
		</mat-form-field>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>What's this?</mat-panel-title>
			</mat-expansion-panel-header>
			<p>Help for Security Question 2</p>
		</mat-expansion-panel>
		<mat-form-field>
			<input matInput type="text" placeholder="Enter Answer">
		</mat-form-field>
	</mat-accordion>
	<mat-divider></mat-divider>
	<mat-accordion>
		<mat-form-field>
			<select matNativeControl required>
				<option value="q3">Security Question 3</option>
				<option value="q3a">Security Question 3-a</option>
				<option value="q3b">Security Question 3-b</option>
				<option value="q3c">Security Question 3-c</option>
			</select>
		</mat-form-field>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>What's this?</mat-panel-title>
			</mat-expansion-panel-header>
			<p>Help for Security Question 3</p>
		</mat-expansion-panel>
		<mat-form-field>
			<input matInput type="text" placeholder="Enter Answer">
		</mat-form-field>
	</mat-accordion>
</form>